html {
    font-family: "Roboto Slab", serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav {
    background: lightblue;
    width: 100%;
    height: 4.5rem;
    position: fixed;
    top: 0;
}

nav > div {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}

nav div a {
    margin: 0 0 0 1.5rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.left {
    float: left;
}

.right {
    float: right;
}

.content {
    margin: 5rem auto;
    width: 70%;
}

img {
    width: 100%;
    max-width: 450px;
    margin: auto;
    display: block;
}

.top p {
    margin: 0.3rem 0;
}

.heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.date {
    font-size: 0.8rem;
    color: grey;
    text-align: center;
}

.main {
    padding-bottom: 1rem;
}

.main p {
    margin: 1rem 0;
}

ul {
    margin: 0;
}

@media screen and (max-width: 580px) { /* Mobile layout */
    .hamburger {
        top: calc(1.5rem - 1px);
        left: 0.5rem;
        position: relative;
        width: 2rem;
        height: 2px;
        background: black;
    }

    .hamburger::before {
        position: absolute;
        top: -10px;
        content: "";
        width: 2rem;
        height: 2px;
        background: black;
    }
    
    .hamburger::after {
        position: absolute;
        top: 10px;
        content: "";
        width: 2rem;
        height: 2px;
        background: black;
    }

    .menu {
        width: 3rem;
        height: 3rem;
    }

    .menu .links {
        visibility: hidden;
    }

    .menu:hover .links {
        visibility: visible;
        background: lightgray;
        position: relative;
        top: 2.7rem;
        left: -1rem;
        width: 5rem;
        border-radius: 0.5rem;
        border: solid grey 1px;
    }

    .menu a {
        margin: 0;
        text-align: center;
        width: 100%;
        display: block;
        margin-bottom: 0.3rem;
    }
}
