html {
    font-family: "Roboto Slab", serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav {
    background: lightblue;
    width: 100%;
    height: 4.5rem;
    position: fixed;
    top: 0;
}

nav > div { /* Context selector (I think) */
    height: 100%;
    display: flex;
    align-items: center;
}

nav div a {
    margin: 0 0 0 1.5rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

/* Floating */
.left {
    float: left;
    padding-left: 1.5rem;
}

.right {
    float: right;
    padding-right: 1.5rem;
}

#intro p {
    margin: 0.3rem;
    text-align: center;
}

#intro img {
    width: 60%;
    max-width: 350px;
    margin: 5rem auto 0.5rem;
    display: block;
}

#latest {
    width: 100%;
}

.divider {
    width: 80%;
    height: 3px;
    background: black;
    border-radius: 1rem;
    margin: 0.5rem auto;
}

#latest p {
    text-align: center;
}

.articles { /* Grid Layout */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 0 auto;
}

.articles a {
    width: 80%;
    margin: 0 auto 1rem;
    text-decoration: none;
}

.article {
    border: solid 2px black;
    border-radius: 0.5rem;
    overflow: hidden;
    height: fit-content;
    transition: border-color 0.5s ease,
    scale 0.5s ease;
}

.article .heading {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.article .date {
    color: grey;
    font-size: 0.8rem;
}

.article p {
    vertical-align: center;
}

.article img {
    float: left;
    width: 150px;
}

.article:hover {
    border-color: grey;
    scale: 1.02;
}

/* I'll add a dark mode media query like I said in my proposal later, but for now I'm running out of time */

@media screen and (max-width: 580px) { /* Mobile layout */
    /* Uses absolute and relative positioning */
    .hamburger {
        top: calc(1.5rem - 1px);
        left: 0.5rem;
        position: relative;
        width: 2rem;
        height: 2px;
        background: black;
    }

    .hamburger::before { /* Pseudo elements */
        position: absolute;
        top: -10px;
        content: "";
        width: 2rem;
        height: 2px;
        background: black;
    }
    
    .hamburger::after {
        position: absolute;
        top: 10px;
        content: "";
        width: 2rem;
        height: 2px;
        background: black;
    }

    .menu {
        width: 3rem;
        height: 3rem;
    }

    .menu .links {
        visibility: hidden;
    }

    /* Dropdown menu */
    .menu:hover .links { /* Not sure if this would actually work how I want it to on a mobile device, as I don't have an easy way to test that */
        visibility: visible;
        background: lightgray;
        position: relative;
        top: 2.7rem;
        left: -1rem;
        width: 5rem;
        border-radius: 0.5rem;
        border: solid grey 1px;
    }

    .menu a {
        margin: 0;
        text-align: center;
        width: 100%;
        display: block;
        margin-bottom: 0.3rem;
    }

    .article img {
        width: 100%;
    }
}
