<header>
    <h1>James Badia's Slithering Snake — WEB115<img id="logo" src="./images/snake-icon.png" alt="Snake Logo"></h1>
    We do stuff™
    <div>
        <a href="./"><b>Home</b></a>
        <a href="./introduction.html"><b>Intro</b></a>
        <a href="./contract.html"><b>Contract</b></a>
        <a href="./brand.html"><b>Brand</b></a>
        <a href="./fizzbuzz0.html"><b>FizzBuzz 0</b></a>
        <a href="./fizzbuzz1.html"><b>FizzBuzz 1</b></a>
        <a href="./fizzbuzz2.html"><b>FizzBuzz 2</b></a>
        <a href="./fizzbuzz3.html"><b>FizzBuzz 3</b></a>
        <a href="./fizzbuzz4.html"><b>FizzBuzz 4</b></a>
    </div>
</header>